.footer {
    height: auto;
    background-color: #FF6B35;
    text-align: right;
    width: 100%;
    font-size: 16px;
    color: #EFEFD0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px 0 0 0;
    & p {
      margin: 0;
    }
  }